body {
  margin: 0;
  padding: 0;
  background: #e9ebee;
  font-family: sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}
.header {
  background: #4267b2;
  border-bottom: 1px solid #29487d;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-size: 20px;
    color: #ffffff;
  }
}

.post {
  width: 700px;
  padding: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #ffffff;
  margin-top: 30px;

  .post-header-container {
    display: flex;
    align-items: center;

    .avatar {
      width: 60px;
      height: 60px;
      border-radius: 50%;
    }
  }
}
